*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: lightblue;
    min-width: 350px;
    max-width: 600px;
    width: 60vw;
    min-height: 600px;
    border-radius: 10px;
    padding: 20px;
}

h1{
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

h2{
    font-size: 1.25rem;
}

h3{
    padding-top: 2rem;
    font-size: 1rem;
}

input[type="submit"],
input[type="reset"],
input[type="text"]{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2rem;
}

input[type="text"]{
    width: 100%;
    padding: 10px 15px;
}

input[type="text"]:focus{
    outline: rgb(135, 169, 181) 2px solid;
}

input[type="submit"],
input[type="reset"]{
    width: 49%;
}

ul{
    padding-top: 1rem;
    margin-left: 15px;
}